{% extends "articles/base.html" %}

{% load static %}

{% block title %}Новости{% endblock %}

{% block content %}
  <div class="row">
    {% for article in articles %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{ article.title }}</a>
            </h4>
            {% if article.image %}
                <a href="#"><img class="card-img-top" src="{{ article.image.url }}" alt=""></a>
            {% endif %}
            <p class="card-text">{{ article.content }}</p>

            <span class="badge badge-danger">{{ article.main_section.title }}</span>

            {% for section_relation in article.other_sections %}
                <span class="badge badge-secondary">{{ section_relation.section.title }}</span>
            {% endfor %}
            <div>
              <small>Дата публикации: {{ article.publication_date|date:"d.m.Y H:i" }}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
